* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:azure;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    padding: 20px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.image-container img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.top-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.top-section h4 {
    font-size: 1.2rem;
    color: gray;
}

.about-section {
    margin-top: 40px;
}

.about-section h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.about-section p {
    text-align: justify;
    margin-top: 10px;
}

.biography-section {
    margin-top: 40px;
}

.biography-section h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.biography-section ul {
    list-style: none;
}

.biography-section li {
    margin-bottom: 10px;
}

.footer-section {
    margin-top: 40px;
    text-align: center;
}

.footer-section .link a {
    color: blue;
    text-decoration: underline;
}

@media (min-width: 768px) {
    .top-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .top-section h1 {
        font-size: 3rem;
    }

    .top-section h4 {
        font-size: 1.5rem;
    }

    .about-section h1 {
        font-size: 2.5rem;
    }

    .biography-section h3 {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    .top-section h1 {
        font-size: 3.5rem;
    }

    .about-section h1 {
        font-size: 3rem;
    }

    .biography-section h3 {
        font-size: 2.2rem;
    }
}
